body{
    background-image: url("./images/concrete.jpg")
}

p{
    padding-right: 40px;
    
};

#github{
    height: 115px;
    width: 115px;
};

#linkedin{
    height: 115px;
    width: 115px;
};


