body{
    background-image: url("./images/concrete.jpg")
}

p{
    padding-right: 40px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
};

.icon{
    height: 115px;
    width: 115px;
};



